ipykernel==6.29.4
ipython==8.24.0
gdown
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1

nltk==3.8.1

numpy==1.26.4

pandas==2.2.1

scikit-image==0.24.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2

streamlit==1.40.1
